<div class="row justify-content-center" style="background-color: #363535;padding-bottom: 10px;">
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <img src="/assets/img/logotipo.png" alt="EMS_LOGO" style="width: 150px;height: 150px;">
        </div>
        <div class="d-flex justify-content-center" style="color:#FFFFFF;">
            <div class="p-2">
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="p-2">
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="color:#FFFFFF;">
            <div class="p-2">
                <a [routerLink]="['login']">Iniciar sesión</a>
            </div>
            <div class="p-2">
                <a [routerLink]="['register']">Registrarse</a>
            </div>
        </div>
    </div>
</div>