<div class="container-fluid" style="border:1px solid red;">
    <div class="row" style="border:1px solid blue; padding: 10px; margin: 10px;">
        <p>Logo - Social Media</p>
    </div>
    <div class="row" style="border:1px solid blue; padding: 10px; margin: 10px;">
        <p>Menu</p>
    </div>
    <div class="row" style="border:1px solid blue; padding: 10px; margin: 10px;">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row" style="border:1px solid blue; padding: 10px; margin: 10px;">
        <p>Footer</p>
    </div>
</div>
